## Extracción de Datos a Nivel Nacional

In [4]:
import requests

import pandas as pd

pd.set_option('display.max_columns', None)

In [55]:
#url 2011

url = "https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2011-12-31T23:59&time_trunc=month"

energia = requests.get(url)

if energia.status_code != 200:
    print(f"Error. El motivo es {energia.reason}")
else:
    print(f"La respuesta es {energia.status_code}")
    generacion_energia = energia.json()

La respuesta es 200

In [56]:
#estabamos cogiendo la fecha de donde no era
generacion_energia["included"][0]["attributes"]["values"][0]["datetime"]

'2011-01-01T00:00:00.000+01:00'

In [57]:
#ejemplo solo 2011
dicc_generacion = {"tipo_energia":[], "tipo_generacion":[], "fecha":[], "valor":[]}

for gen in generacion_energia["included"]:
    for e in gen["attributes"]["values"]:
        dicc_generacion ["tipo_energia"].append(gen["attributes"]['title'])
        dicc_generacion ["tipo_generacion"].append(gen["attributes"]['type'])
        dicc_generacion ["fecha"].append(e["datetime"])
        dicc_generacion ["valor"].append(e['value'])

In [49]:
df_generacion = pd.DataFrame(dicc_generacion)
df_generacion

,tipo_energia,tipo_generacion,fecha,valor
0,Hidráulica,Renovable,2011-01-01T00:00:00.000+01:00,5.119512e+06
1,Hidráulica,Renovable,2011-02-01T00:00:00.000+01:00,2.998051e+06
2,Hidráulica,Renovable,2011-03-01T00:00:00.000+01:00,3.910363e+06
3,Hidráulica,Renovable,2011-04-01T00:00:00.000+02:00,3.537938e+06
4,Hidráulica,Renovable,2011-05-01T00:00:00.000+02:00,2.797500e+06
...,...,...,...,...
199,Generación total,Generación total,2011-08-01T00:00:00.000+02:00,2.335928e+07
200,Generación total,Generación total,2011-09-01T00:00:00.000+02:00,2.304389e+07
201,Generación total,Generación total,2011-10-01T00:00:00.000+02:00,2.223963e+07
202,Generación total,Generación total,2011-11-01T00:00:00.000+01:00,2.263136e+07
203,Generación total,Generación total,2011-12-01T00:00:00.000+01:00,2.390599e+07

In [6]:
#de 2011 a 2022, url dinamica, creamos lista para guardar las url

lista_url = []

for año in range(2011, 2023):

    url = f"https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date={año}-01-01T00:00&end_date={año}-12-31T23:59&time_trunc=month"
    
    lista_url.append(url)
lista_url

['https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2011-12-31T23:59&time_trunc=month',
 'https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2012-01-01T00:00&end_date=2012-12-31T23:59&time_trunc=month',
 'https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2013-01-01T00:00&end_date=2013-12-31T23:59&time_trunc=month',
 'https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2014-01-01T00:00&end_date=2014-12-31T23:59&time_trunc=month',
 'https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2015-01-01T00:00&end_date=2015-12-31T23:59&time_trunc=month',
 'https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2016-01-01T00:00&end_date=2016-12-31T23:59&time_trunc=month',
 'https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2017-01-01T00:00&end_date=2017-12-31T23:59&time_trunc=month',
 'https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2018-01-01T00:00&end_date=2018-12-31T23:59&time_trunc=month',
 'https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2019-01-01T00:00&end_date=2019-12-31T23:59&time_trunc=month',
 'https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2020-01-01T00:00&end_date=2020-12-31T23:59&time_trunc=month',
 'https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2021-01-01T00:00&end_date=2021-12-31T23:59&time_trunc=month',
 'https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2022-01-01T00:00&end_date=2022-12-31T23:59&time_trunc=month']

In [62]:
#creamos lista para guardar los json de cada año, cogemos urls de la lista anterior

lista_json = []
for url in lista_url:

    energia = requests.get(url)

    if energia.status_code != 200:
        print(f"Error. El motivo es {energia.reason}")
    else:
        print(f"La respuesta es {energia.status_code}")
        generacion_energia = energia.json()
        lista_json.append(generacion_energia)

La respuesta es 200
La respuesta es 200
La respuesta es 200
La respuesta es 200
La respuesta es 200
La respuesta es 200
La respuesta es 200
La respuesta es 200
La respuesta es 200
La respuesta es 200
La respuesta es 200
La respuesta es 200

In [65]:
dicc_generacion = {"tipo_energia":[], "tipo_generacion":[], "fecha":[], "valor":[]}

for json in lista_json: #entramos en cada json de lista jsons
    for gen in json["included"]: #entramos en la key included que es donde estan los datos
        for e in gen["attributes"]["values"]: #entramos en atributos luego values que es donde estan las fechas y los valores
            #al hacer todos los append en este for, los campos que son iguales para x fechas se repetiran 
            #tantas veces como sea necesario, asi no dara el error de que los arrays no son igual de largos
            dicc_generacion ["tipo_energia"].append(gen["attributes"]['title']) 
            dicc_generacion ["tipo_generacion"].append(gen["attributes"]['type'])
            dicc_generacion ["fecha"].append(e["datetime"])
            dicc_generacion ["valor"].append(e['value'])

In [67]:
#dataframe desde 2011 a 2022 dividido por mes
df_generacion_total = pd.DataFrame(dicc_generacion)
df_generacion_total

,tipo_energia,tipo_generacion,fecha,valor
0,Hidráulica,Renovable,2011-01-01T00:00:00.000+01:00,5.119512e+06
1,Hidráulica,Renovable,2011-02-01T00:00:00.000+01:00,2.998051e+06
2,Hidráulica,Renovable,2011-03-01T00:00:00.000+01:00,3.910363e+06
3,Hidráulica,Renovable,2011-04-01T00:00:00.000+02:00,3.537938e+06
4,Hidráulica,Renovable,2011-05-01T00:00:00.000+02:00,2.797500e+06
...,...,...,...,...
2482,Generación total,Generación total,2022-08-01T00:00:00.000+02:00,2.528589e+07
2483,Generación total,Generación total,2022-09-01T00:00:00.000+02:00,2.366621e+07
2484,Generación total,Generación total,2022-10-01T00:00:00.000+02:00,2.195664e+07
2485,Generación total,Generación total,2022-11-01T00:00:00.000+01:00,2.152262e+07
2486,Generación total,Generación total,2022-12-01T00:00:00.000+01:00,2.223077e+07

## Extracción de Datos por Comunidad Autónoma

In [2]:
#diccionario codigos ccaa
cod_comunidades = {'Ceuta': 8744,
                    'Melilla': 8745,
                    'Andalucía': 4,
                    'Aragón': 5,
                    'Cantabria': 6,
                    'Castilla - La Mancha': 7,
                    'Castilla y León': 8,
                    'Cataluña': 9,
                    'País Vasco': 10,
                    'Principado de Asturias': 11,
                    'Comunidad de Madrid': 13,
                    'Comunidad Foral de Navarra': 14,
                    'Comunitat Valenciana': 15,
                    'Extremadura': 16,
                    'Galicia': 17,
                    'Illes Balears': 8743,
                    'Canarias': 8742,
                    'Región de Murcia': 21,
                    'La Rioja': 20}

In [ ]:
dicc_generacion_ccaa = {"tipo_energia":[], "tipo_generacion":[], "fecha":[], "valor":[], "ccaa":[]}
#añadimos el campo para comunidades a la url
for k,v in cod_comunidades.items():
    for año in range(2011, 2023):

        url = f"https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date={año}-01-01T00:00&end_date={año}-12-31T23:59&time_trunc=month&geo_limit=ccaa&geo_ids={v}"

        energia = requests.get(url)

        if energia.status_code != 200:
            print(f"Error. El motivo es {energia.reason}")
        else:
            #print(f"La respuesta es {energia.status_code}")
            generacion_energia = energia.json()

        
        for gen in generacion_energia["included"]: #entramos en la key included que es donde estan los datos
            for e in gen["attributes"]["values"]: #entramos en atributos luego values que es donde estan las fechas y los valores
            #al hacer todos los append en este for, los campos que son iguales para x fechas se repetiran 
            #tantas veces como sea necesario, asi no dara el error de que los arrays no son igual de largos
                dicc_generacion_ccaa ["tipo_energia"].append(gen["attributes"]['title']) 
                dicc_generacion_ccaa ["tipo_generacion"].append(gen["attributes"]['type'])
                dicc_generacion_ccaa ["fecha"].append(e["datetime"])
                dicc_generacion_ccaa ["valor"].append(e['value'])
                dicc_generacion_ccaa ["ccaa"].append(k)
            
dicc_generacion_ccaa

In [8]:
#dataframe desde 2011 a 2022 dividido por mes
df_generacion_total_ccaa = pd.DataFrame(dicc_generacion_ccaa)
df_generacion_total_ccaa

,tipo_energia,tipo_generacion,fecha,valor,ccaa
0,Motores diésel,No-Renovable,2011-01-01T00:00:00.000+01:00,16727.395,Ceuta
1,Motores diésel,No-Renovable,2011-02-01T00:00:00.000+01:00,15216.784,Ceuta
2,Motores diésel,No-Renovable,2011-03-01T00:00:00.000+01:00,16429.358,Ceuta
3,Motores diésel,No-Renovable,2011-04-01T00:00:00.000+02:00,14974.756,Ceuta
4,Motores diésel,No-Renovable,2011-05-01T00:00:00.000+02:00,15951.381,Ceuta
...,...,...,...,...,...
24074,Generación total,Generación total,2022-08-01T00:00:00.000+02:00,152284.837,La Rioja
24075,Generación total,Generación total,2022-09-01T00:00:00.000+02:00,214907.540,La Rioja
24076,Generación total,Generación total,2022-10-01T00:00:00.000+02:00,234247.987,La Rioja
24077,Generación total,Generación total,2022-11-01T00:00:00.000+01:00,175403.624,La Rioja
24078,Generación total,Generación total,2022-12-01T00:00:00.000+01:00,217142.336,La Rioja